<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800"> Inserção de Cidades </h1>

<form class="user" action="<?=$GLOBALS['project_index'];?>/controllers/cities.php" method="POST">
	<input type="hidden" name="action" value="add">
	<div class="row">
		<div class="form-group col-md-6">
			<label> Cidade </label>
		    <input type="text" class="form-control form-control-user" name="cidade" placeholder="Nome da cidade"><br>			

		    <label> UF </label>
		    <select name="cidadeUF" class="form-control form-control-user" required>
		    	<option disabled selected>-- Selecione a UF --</option>
		    	<option value="AC">AC - Acre</option>
		    	<option value="AL">AL - Alagoas</option>
		    	<option value="AP">AP - Amapá</option>
		    	<option value="AM">AM - Amazonas</option>
		    	<option value="BA">BA - Bahia</option>
		    	<option value="CE">CE - Ceará</option>
		    	<option value="DF">DF - Distrito Federal</option>
		    	<option value="ES">ES - Espírito Santo</option>
		    	<option value="GO">GO - Goiás</option>
		    	<option value="MA">MA - Maranhão</option>
		    	<option value="MT">MT - Mato Grosso</option>
		    	<option value="MS">MS - Mato Grosso do Sul</option>
		    	<option value="MG">MG - Minas Gerais</option>
		    	<option value="PA">PA - Pará</option>
		    	<option value="PB">PB - Paraíba</option>
		    	<option value="PR">PR - Paraná</option>
		    	<option value="PE">PE - Pernanbuco</option>
		    	<option value="PI">PI - Piauí</option>
		    	<option value="RJ">RJ - Rio de Janeiro</option>
		    	<option value="RN">RN - Rio Grande do Norte</option>
		    	<option value="RS">RS - Rio Grande do Sul</option>
		    	<option value="RO">RO - Rondônia</option>
		    	<option value="RR">RR - Roraima</option>
		    	<option value="SC">SC - Santa Catarina</option>
		    	<option value="SP">SP - São Paulo</option>
		    	<option value="SE">SE - Sergipe</option>
		    	<option value="TO">TO - Tocantins</option>
		    </select><br>

			<button class="btn btn-primary"><i class="fa fa-arrow-right"></i> Enviar </button>
		</div>
	</div>
</form>