<!-- Page Heading -->
<h1 class="h3 mb-4 text-gray-800"> Listagem de Usuários </h1>

<table class="table table-striped table-hover">
	<thead>
		<th>Nome</th>
		<th>Email</th>
		<th>CPF</th>
		<th>Criado em</th>
		<th>Ações</th>
	</thead>
	<tbody>
		<?php foreach($users as $u): ?>
			<tr>
				<td><?=$u['usuarioNome'];?></td>
				<td><?=$u['usuarioEmail'];?></td>
				<td><?=$u['usuarioCPF'];?></td>
				<td><?=$u['usuarioCriacao'];?></td>
				<td>
					<a href="?op=edit-user&id=<?=$u['idUsuario'];?>" class="btn btn-warning"><i class="fa fa-edit"></i></a>
					<button class="btn btn-danger" data-toggle="modal" data-target="#deleteUser-<?=$u['idUsuario'];?>"><i class="fa fa-trash"></i></button>

					<!-- Modal -->
					<div class="modal fade" id="deleteUser-<?=$u['idUsuario'];?>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Excluir Usuário?</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        Tem certeza que deseja excluir <strong><?=$u['usuarioNome'];?>??</strong> Essa operação não pode ser desfeita!
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
					        <a href="<?=$GLOBALS['project_index'];?>/controllers/users.php?action=delete&id=<?=$u['idUsuario'];?>" type="button" class="btn btn-success">Sim, pode excluir!</a>
					      </div>
					    </div>
					  </div>
					</div>

				</td>
			</tr>
		<?php endforeach; ?>
	</tbody>
</table>